.slide .chats {
  display: grid;
  gap: calc(var(--gap) * 0.8);
}

.slide .chat {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 0.5);
  padding: var(--gap);
  border-radius: var(--radius);
  background: var(--card);
}

.slide .chat .note {
  align-self: flex-end;
  font-weight: 700;
}
