.reasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap);
  margin-bottom: calc(var(--gap) * 0.5);
}

.reason {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: calc(var(--gap) * 0.7);
  row-gap: calc(var(--gap) * 0.4);
  align-content: center;
  padding: var(--gap) calc(var(--gap) * 1.2);
}

.reason .num {
  font-size: var(--size-lede);
}

.reason h3 {
  align-self: center;
  font-size: var(--size-title);
  font-size: calc(var(--size-lede) * 1.3);
}

.reason .note {
  grid-column: 2;
  font-size: var(--size-body);
}
